@import '@carbon/colors/scss/colors';

#root{
    .app-container__tutorial-page {
        background-color: $gray-10;
        position: absolute;
        width: 100%;
        z-index: -1;
        box-shadow: inset 0px 164x #FFFFFF;
        top: 0;
        left: 0;

    }
}
