@import '@carbon/layout/scss/_spacing';
@import '@carbon/grid/scss/grid';
@import '@carbon/colors/scss/colors';

body {
    font-size: 14px;
    letter-spacing: 0.01px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

.page-container {
    margin: 0;
    padding: 0;

    h5 {
        padding-bottom: $spacing-06;
    }
}

.inner-container {
    height: 100vh;
    max-width: 100%;
}

.page-contents {
    padding: $spacing-07;
}

.titles-container {
    padding: 0px $spacing-04;

    h1 {
        padding: $spacing-09 0px;
    }
}

.contents-container {
    margin: $spacing-02;
}

.contents-left {

    h5 {
        padding-top: $spacing-09;
    }
}

.smart-contract-item {
    padding-top: $spacing-02;

    &:first-of-type {
        padding-top: $spacing-01;
    }
}

.clickable-smart-contract {
    color: $carbon--blue-50;

    &:hover {
        cursor: pointer;
    }
}

.disabled-smart-contract {
    color: $carbon--gray-50;
}
