# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
/out
/.idea
/blockchain-extension/build
/blockchain-extension/node_modules
/blockchain-extension/*.vsix
/blockchain-extension.vscode-test
/blockchain-extension/coverage
.DS_Store
!/blockchain-extension/test/data/badPackageDir/packages/.DS_Store
/blockchain-extension/test/data/fabricProject/**
/blockchain-extension/test/data/smartContractDir/**
/blockchain-extension/test/data/wallets/**
/blockchain-extension/test/data/environment/**
/blockchain-extension/test/data/gateways/**
/blockchain-extension/test/tmp/**
/blockchain-extension/cucumber/cucumber-report.html
/blockchain-extension/cucumber/cucumber-report.json
/blockchain-extension/cucumber/hfc-key-store/**
/blockchain-extension/cucumber/tmp/**
/blockchain-extension/cucumber/tmp/repositories/**
/blockchain-extension/unit-tests.xml
/blockchain-extension/src/ExtensionCommands.ts
/blockchain-extension/cypress/videos
/blockchain-extension/cypress/screenshots
/blockchain-extension/jest-tests.xml

.config.json

# Rush files
common/temp/**
.rush/temp/**

/blockchain-extension/blockchain-extension.build.log
