@import '@carbon/colors/scss/colors';
@import '@carbon/layout/scss/_spacing';

fieldset > legend {
    opacity: 0;
}

.inline-row {
    padding: 0px $spacing-05;
}

.hide-label {
    label {
        display: none;
    }
}

.select-width {
    width: 100%;

    select {
        max-width: none;
        width: 100%
    }
}

.bx--text-area__wrapper {
    width: 100%;

    textarea {
        font-size: 100%;
        width: 100%;
        resize: vertical;
    }
}

.submit-txn-button-container {
    display: flex;
    flex-direction: row;
    
    .submit-txn-button {
        min-width: 140px;
    }

    .button-separator {
        width: $spacing-03;
    }
}

