@import '@carbon/layout/scss/_spacing';

.inline-select {
    display: inline-flex;
    flex-direction: row;

    .bx--select-input__wrapper {
        margin-left: $spacing-03;
    }

    .bx--select-input {
        background: none;
        border: none;
    }

    .bx--label {
        margin-top: 11.5px;
        margin-bottom: 0px;
        font-size: 100%;
        color: inherit;
    }

}
