@import '@carbon/colors/scss/colors';
@import '@carbon/type/scss/type'; 


@mixin accordion-content {
    .bx--accordion__item--active {
        .bx--accordion__content {
            padding-right: $spacing-09 !important;
        }
    }
}

@mixin custom-spacing {

    // MARGINS
    .margin-top-05{
        margin-top: $spacing-05;
    }

    .margin-top-06{
        margin-top: $spacing-06;
    }

    .margin-top-07{
        margin-top: $spacing-07;
    }

    .margin-left-07 {
        margin-left: $spacing-07;
    } 

    .margin-right-05 {
        margin-right: $spacing-05;
    }        

    .margin-right-06 {
        margin-right: $spacing-06;
    } 
    
    .margin-right-07 {
        margin-right: $spacing-07;
    } 

    .margin-bottom-03 {
        margin-bottom: $spacing-03;
    }

    .margin-bottom-05 {
        margin-bottom: $spacing-05;
    }

    .margin-bottom-06 {
        margin-bottom: $spacing-06;
    }

    .margin-bottom-07 {
        margin-bottom: $spacing-07;
    }

    .margin-bottom-09 {
        margin-bottom: $spacing-09;
    }

    .margin-bottom-10{
        margin-bottom: $spacing-08 + $spacing-09;
    }

    // PADDING
    .padding-top-05{
        padding-top: $spacing-05;
    }
    
    .padding-left-05 {
        padding-left: $spacing-05;
    }

    .padding-left-07 {
        padding-left: $spacing-07;
    }

    .padding-right-05 {
        padding-right: $spacing-05;
    }

    .padding-bottom-05 {
        padding-bottom: $spacing-05;
    }

    .padding-bottom-07 {
        padding-bottom: $spacing-07;
    }

    .bx--inline-notification{
        max-width: 100%;
    }
}

//-------------------------
// dark theme styles
//-------------------------

@mixin accordion-dark {
    ul, li, button {
        color: $text-01;
    }

    li {
        border-color: $gray-80;
    }
    
    button:hover:before {
        background-color: $gray-80;
    }
    
    svg {
        fill: $text-01;
    }
}

@mixin app__gallery-page-dark {
    .app-container__gallery-page {
        background-color: $gray-90;
        box-shadow: inset 0px 164px #000000;
    }
}

@mixin borders-dark {
    border-color: $gray-80;
}

@mixin checkbox-dark {
    .bx--checkbox-label::before {
        border-color: $gray-10;
    }

    input:checked ~ .bx--checkbox-label::before, input:indeterminate ~ .bx--checkbox-label::before {
        background-color: $gray-10;
    }

    input:checked ~ .bx--checkbox-label::after, input:indeterminate ~ .bx--checkbox-label::after{
        border-color: #000000;
    }
}

@mixin custom-tile-dark {
    div {
        background-color: $gray-90;
    }
    img {
        filter: invert(100%);
    }
}

@mixin data-table-dark {
    @include checkbox-dark;

    .bx--data-table-container {
        background-color: #1E2529;
        
        h4 {
            color: white;
        }

        p {
            color: #ABABAB
        }

        .bx--data-table-header, .bx--table-toolbar, .bx--data-table tbody, tr, td {
            background-color: inherit;
        }

        .bx--data-table tbody tr:hover {
            background-color: #343D43;
        }
    
        th {
            background-color: #343D43;
            color: white;
        }
    
        td {
            border-color: #343D43;
            color: #ABABAB
        }

    }
}

@mixin inline-select-dark {
    .inline-select {
        border: none;

        .bx--select-input {
            background: none;
            color: white;
        }
    }
}

@mixin output-panel-dark {
    background-color: #323232;
    .output-title {
        color: #ababab;
    }
}

@mixin select-dark {
    .bx--select  {
        border-bottom: 1px solid #8D8D8D;
        label {
            color: inherit;
        }

        svg {
            fill: white;
        }
    }

    .bx--label {
        color: inherit;
    }

    .bx--select-input__wrapper:hover .bx--select-input {
        background-color: #343D43;
    }

    .bx--select-input {
        background-color: #323232;
        color: white;
    }
}

@mixin text-inputs-dark {
    input, textarea {
        background-color: #323232;
        color: white;
    }
}

@mixin themed-image-dark {
    img {
        &:first-of-type {
            display: none;
        }
    }
}

@mixin gallery-page-dark {
    background-color: $gray-90;
    box-shadow: inset 0 148px #000000;
}

@mixin gallery-tabs-dark {    
    .gallery-tabs-background {
        background-color: #000000;
    }
    
    a.bx--tabs__nav-link {
        color: white;
    }
    
    .bx--tabs__nav-item {
        background-color: $gray-80;    
    
        &:hover {
            &:not(.bx--tabs__nav-item--disabled):not(.bx--tabs__nav-item--selected) {
                background-color: $gray-70;
            }
        }
    }

    .bx--tabs__nav-item--selected {
        background-color: $gray-90;

        .bx--tabs__nav-link {
            box-shadow: inset 0 2px 0 0 $blue-40;
        }
    }

    a.bx--tabs__nav-link:focus {
        outline: 2px solid $blue-40;
    }

    .download-all {
        color: $blue-40;
    }

    .series-description {
        color: $gray-10;
    }
    
    a:hover {
        color: $blue-40;
    }
}

@mixin gallery-tile-dark {
    .tab-container {
        background-color: $gray-80;

        .title {
            color: white;
        }

        .icon {
            fill: white;
        }

        .objective, .text {
            color: $gray-30;
        }

        .pdf-button {
            color: $blue-40;

            &:hover {
                background-color: $gray-70;
            }
        }

        .bx--btn--secondary {
            background-color: $gray-60;

            &:hover {
                background-color: $gray-70;
            }
        }
    }
}


//-------------------------
// light theme styles
//-------------------------

@mixin themed-image-light {
    img {
        &:nth-of-type(2) {
            display: none;
        }
    }
}
