@import '@carbon/colors/scss/colors';
@import '@carbon/layout/scss/_spacing';

#root{
    .heading-combo-container {

        .heading-combo-with-image {
            display: flex;

            img {
                height: 20px;
                margin-right: $spacing-05;
            }
        }

        h3 {
            margin-bottom: $spacing-05;
            line-height: inherit;
            font-size: 1.25rem;
            font-weight: 900;
            color: inherit;
        }
    
        p {
            margin-bottom: $spacing-05;
            color: $gray-70;
            color: inherit;
        }
    }
}
