.latest-version {
    font-size: 14px;
    color: #161616;
    letter-spacing: 0.16px;
    line-height: 18px;
}

.current-version-link {
    text-decoration: none;
    font-size: 14px;
    color: #0F62FE;
    letter-spacing: 0.16px;
    line-height: 18px;
}