@import '@carbon/colors/scss/colors';
@import '@carbon/layout/scss/_spacing';

.vscode-dark{
    .bx--tab-content{
        background-color: #262626 !important;
    }
}

.vscode-light{
    .bx--tab-content{
        background-color: #f4f4f4 !important;
    }
}

#root{
    .tutorial-tabs-background {
        width: 100% !important;
        height: 48px !important;
        position: absolute !important;
        left: 0px !important;
        z-index: -1 !important;
    }
    
    
    
    .bx--tab-content {
        width: 100% !important;
        padding-left: 0px !important;
    }

}

.download-all-container {
    margin-top: $spacing-03;
    margin-bottom: $spacing-06;
}

.download-all {
    cursor: pointer;
    text-decoration: none;
    font-family: 'IBMPlexSans', sans-serif;
    font-size: 14px;
    color: $blue-60;
    letter-spacing: 0.16px;
    line-height: 18px;
}

a:hover {
    color: $blue-60;
}
