@import '@carbon/colors/scss/colors';
@import '@carbon/layout/scss/_spacing';

.tutorial-tabs-background {
    width: 100%;
    height: 48px;
    position: absolute;
    left: 0px;
    z-index: -1;
    background-color: white;
}

.bx--tab-content {
    width: 100%;
    padding-left: 0px;
    background-color: transparent;
}

.series-description-container {
    margin-top: $spacing-03;
    margin-bottom: $spacing-06;
}

.series-description {
    max-width: 650px;
    font-family: 'IBMPlexSans', sans-serif;
    font-size: 14px;
    line-height: 1.25rem;
    margin-bottom: $spacing-06;
    color: $gray-100;
}

.download-all {
    cursor: pointer;
    text-decoration: none;
    font-family: 'IBMPlexSans', sans-serif;
    font-size: 14px;
    margin-top: $spacing-03;
    color: $blue-60;
    letter-spacing: 0.16px;
    line-height: 18px;
}

a:hover {
    color: $blue-60;
}
