.tutorial-tabs-background {
    width: 100%;
    height: 48px;
    position: absolute;
    left: 0px;
    z-index: -1;
    background-color: white;
}



.bx--tab-content {
    width: 100%;
    padding-left: 0px;
    background-color: transparent;
}
