#root {

    .deploy-page-container{
        .bx--tab-content {
            width: 100%;
            padding-left: 0px;
            background-color: transparent;
        }
    
        .bx--progress-line {
            width: 100%;
        }
    
        .bx--progress-step {
            width: 100%;
        }
    }
}
