
@import '@carbon/colors/scss/colors';
@import '@carbon/type/scss/type';
    

//-------------------------
// dark theme styles
//-------------------------

@mixin accordion-dark {
    ul, li, button {
        color: $text-01;
    }

    li {
        border-color: $carbon--gray-80;
    }
    
    button:hover:before {
        background-color: $carbon--gray-80;
    }
    
    svg {
        fill: $text-01;
    }
}

@mixin borders-dark {
    border-color: $carbon--gray-80;
}

@mixin button-dark {
    background-color: $carbon--gray-80;
}

//-------------------------
// light theme styles
//-------------------------

@mixin button-light {
    background-color: $carbon--gray-20;
    color: black;
}
