@import '../../../mixins/layout-mixins.scss';
@import '@carbon/colors/scss/colors';

.tutorial-page-container {
    @include default-page-styling;
    margin-left: $spacing-05;
    margin-top: $spacing-05;
}

.tutorial-page-description-container {
    h3 {
        margin-bottom: $spacing-05;
        line-height: inherit;
        font-size: 1.25rem;
        font-weight: 900;
        color: inherit;
    }

    p {
        font-family: 'IBMPlexSans', sans-serif;
        font-size: 14px;
        line-height: 1.25rem;
        margin-bottom: $spacing-06;
        color: inherit;
    }

    .bx--link {
        color: $blue-60;

        &:hover {
            color: $blue-60;
        }
    
        &:focus {
            outline: none;
        }
    }
}

