@import '@carbon/layout/scss/_spacing';

.custom-tile {
    width: 90%;

    &:hover {
        cursor: pointer;
    }

    p {
        margin-bottom: $spacing-05;
        width: 80%
    }
}

.new-tab-img {
    float: right;
    width: 24px;
    height: 24px;

    &:hover {
        cursor: pointer;
    }
}

#custom-tile-hack{
    display: block;
    min-width: 8rem;
    min-height: 4rem;
    position: relative;
    padding: 1rem;
    outline: 2px solid transparent;
    outline-offset: -2px;
}